---
  import TwitterMeta from './TwitterMeta.astro';
  import OGMeta from './OGMeta.astro';
  const { title } = Astro.props;
  const canonical = Astro.canonicalURL;
  const description = 'The personal site of Jeff Caldwell';
  const type = 'website';
  const image = '';
---

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="me" href="https://indieweb.social/web/@trainingmontage">
  <link rel="me" href="https://twitter.com/trainingm0ntage">
  <link rel="me" href="https://github.com/nemo-omen">
  <link rel="canonical" href={canonical}>
  <OGMeta 
    {title}
    {description}
    {type}
    {image}
  />
  <TwitterMeta
    {title}
    {description}
    {image}
  />
  <title>{title}</title>
</head>