---
const {post} = Astro.props;
---

  <article class="post-preview h-entry">
    <img class="u-photo" src={post.frontmatter.featuredImage} width="300" height="300" />
    <h2 class="p-name">{post.frontmatter.title}</h2>
    <time class="dt-published">{new Date(post.frontmatter.date).toLocaleDateString('en-US', {month: 'long', day: 'numeric', weekday: 'long', year: 'numeric'})}</time>
    <p class="p-summary">{post.frontmatter.description}</p>
    <a href={`/writing/${post.frontmatter.slug}`}>Read!</a>
  </article>