---
import PostPreviewHeading from './PostPreviewHeading.astro';
import FormattedDate from './FormattedDate.astro';
const { entry, headingLevel } = Astro.props;
---

<article class="post-preview">
  <PostPreviewHeading level={headingLevel}>
    <a href={`/blog/${entry.slug}`}>{entry.data.title}</a>
  </PostPreviewHeading>
  <FormattedDate date={entry.data.published} lang="en-US" format="med" />
  <p>
    {entry.data.summary}
  </p>
</article>
