---
import PostPreviewHeading from './PostPreviewHeading.astro';
const { entry, headingLevel } = Astro.props;
---

<article class="post-preview">
  <PostPreviewHeading level={headingLevel}>
    <a href={`/blog/${entry.slug}`}>{entry.data.title}</a>
  </PostPreviewHeading>
  <time datetime={entry.data.published.toISOString()}>
    {
      new Date(entry.data.published).toLocaleDateString('en-US', {
        weekday: 'long',
        month: 'long',
        day: 'numeric',
        year: 'numeric',
      })
    }
  </time>
  <p>
    {entry.data.summary}
  </p>
</article>
