---
  import '../style/global.css';
  import JsonLD from '../components/JsonLD.astro';
  import BaseHead from './BaseHead.astro';
  import TwitterMeta from './TwitterMeta.astro';
  import OGMeta from './OGMeta.astro';
  import Header from '../components/Header.astro';
  import Footer from '../components/Footer.astro';
  const {content} = Astro.props;
  let author;

  if (content.hasOwnProperty('author')) {
    author = content.author;
  } else {
    author = 'Jeff Caldwell'
  }
---
<!DOCTYPE html>
<html lang="en">
<BaseHead {content.title}>
  <OGMeta
    title={content.title}
    description={content.description}
    type="article"
    image={'https://jeffcaldwell.is' + content.featuredImage}
  />
  <TwitterMeta
    title={content.title}
    description={content.description}
    image={'https://jeffcaldwell.is' + content.featuredImage}
  />

  <JsonLD {content} />

</BaseHead>

<body>
  <Header />
  <main>
	  <article class="h-entry blog-content">
    <img src={content.featuredImage} width="1000" height="500" class="featured-post-photo"/>
    <h2 class="p-name page-heading">{content.title}</h2>
    <p>
      <time class="dt-published">{new Date(content.date).toLocaleDateString('en-US', {month: 'long', weekday: 'long', day: 'numeric', year: 'numeric'})}</time>
      , by 
      <a rel="author" class="p-author h-card" href="https://jeffcaldwell.is/about">{author}</a>
    </p>
    <div class="e-content flow">
      <slot />
    </div>
  </article>
  </main>
  <Footer />
</body>
</html>