---
import JsonLD from '../components/JsonLD.astro';
import BaseHead from './BaseHead.astro';
import TwitterMeta from './TwitterMeta.astro';
import OGMeta from './OGMeta.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Mentions from '../components/Mentions.svelte';
const { content } = Astro.props;
const { pathname } = Astro.canonicalURL;
const key = import.meta.env.VITE_WEBMENTION_KEY;
let target = Astro.canonicalURL.href;

const allNotes = import.meta.glob('../pages/writing/**/*.md');

let notes = await Promise.all(
  Object.entries(allNotes).map(async ([key, note]) => {
    const url = key.replace('../pages/writing/', '/writing/').replace('/index', '').replace('.md', '/');
    return note().then(async content => {
      const source = await content.default();
      return {
        ...source.frontmatter,
        url
      }
    })
  })
);

notes = notes.filter(note => {
  return note.astro.source.toLowerCase().includes(`[${content.title.toLowerCase()}]`);
});
---

<!DOCTYPE html>
<html lang="en">
<BaseHead title={content.title}>
  <OGMeta title={content.title} description={content.description} type="article" image={'https://jeffcaldwell.is' +
    content.featuredImage} />
  <TwitterMeta title={content.title} description={content.description} image={'https://jeffcaldwell.is' +
    content.featuredImage} />

  <JsonLD {content} />
  <style>
    .featured-post-photo {
      width: 1000px;
      height: auto;
      max-inline-size: 100%;
      margin: 0 auto;
    }
  </style>
</BaseHead>

<body>
  <Header />
  <main role="main" class="flow">
    <article class="h-entry blog-content" id="content">
      <img alt={content.featuredImageDescription} src={content.featuredImage} width="1000" height="500"
        class="featured-post-photo" />
      <h2 class="p-name page-heading">{content.title}</h2>
      <p class="updated">
        Updated on
        <time class="dt-published">{new Date(content.updated).toLocaleDateString('en-US', {month: 'long', day:
          'numeric', year: 'numeric'})}</time>
        by
        <a rel="author" class="p-author h-card" href="https://jeffcaldwell.is">Jeff Caldwell</a>
      </p>
      <div class="e-content flow">
        <slot />
      </div>
      { !notes.length ? null : <div>
        <h2>Backlinks</h2>
        <ul class="backlink-list">
          {notes.map(note => {
          return <li class="backlink-list-item">
            <a href={`${note.url}`}>{note.title}</a>
          </li>
          })}
        </ul>
      </div>
      }
    </article>
    <div class="mentions flow">
      <Mentions {key} {target} client:visible />
    </div>
  </main>
  <Footer />
</body>

</html>