---
import '../style/global.css';
import JsonLD from '../components/JsonLD.astro';
import BaseHead from './BaseHead.astro';
import TwitterMeta from './TwitterMeta.astro';
import OGMeta from './OGMeta.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import Mentions from '../components/Mentions.svelte';

const { content } = Astro.props;

const allNotes = import.meta.glob('../pages/notes/**/*.md');

let notes = await Promise.all(
  Object.entries(allNotes).map(async ([key, note]) => {
    const url = key.replace('../pages/notes/', '/notes/').replace('/index', '').replace('.md', '/');
    return note().then(async content => {
      const source = await content.default();
      return {
        ...source.frontmatter,
        url
      }
    })
  })
);

notes = notes.filter(note => {
  return note.astro.source.toLowerCase().includes(`[${content.title.toLowerCase()}]`);
});
---

<!DOCTYPE html>
<html lang="en">
<BaseHead title={content.title}>
  <JsonLD {content} />
</BaseHead>

<body>
  <Header />
  <main role="main" class="flow">
    <Breadcrumbs url={Astro.request.url} />
    <article class="h-entry blog-content" id="content">
      <h2 class="p-name page-heading">{content.title}</h2>
      <p class="updated">
        Updated on
        <time class="dt-published">{new Date(content.updated).toLocaleDateString('en-US', {month: 'long', day:
          'numeric', year: 'numeric'})}</time>
        by
        <a rel="author" class="p-author h-card" href="https://jeffcaldwell.is/about">Jeff Caldwell</a>,
      </p>
      <div class="e-content flow">
        <slot />
      </div>
      { !notes.length ? null : <div>
        <h2>Backlinks</h2>
        <ul class="backlink-list">
          {notes.map(note => {
          return <li class="backlink-list-item">
            <a href={`${note.url}`} class="backlink-list-link">{note.title}</a>
          </li>
          })}
        </ul>
      </div>
      }
    </article>
    <div class="mentions flow">
      <Mentions target={Astro.canonicalURL} client:visible />
    </div>
  </main>
  <Footer />
</body>

</html>